
.hptext{
  text-align: center;
  padding-top: 300px;
}

.hplinks{
  padding-top: 70px;
}
.amtext{
  margin-right: 50px;
}
.restext{
  margin-right: 50px;
}
.reftext{
  margin-right: 50px;
}
.acttext{
  margin-right: 50px;
}
.contactme{
  margin-right: 100px;
}


/*Nav Menu CSS*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  padding-top: 50px;
  padding-left: 30px;
  /*background-color: #333;*/
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/*Removed the red color from the navbar*/
.navbar a:hover, .dropdown:hover .dropbtn {
  /*background-color: red;*/
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}





 /* Small devices (portrait tablets and large phones, 600px and up)  */
 /* @media only screen and (min-width: 600px) { 
 } */

